<div class="registration-container">
  <h2>Registration Form</h2>
  <form (ngSubmit)="onRegister()">
    <div class="form-row">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input
          type="text"
          id="firstName"
          [(ngModel)]="firstName"
          name="firstName"
          required
        />
      </div>
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input
          type="text"
          id="lastName"
          [(ngModel)]="lastName"
          name="lastName"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <input
          type="date"
          id="birthday"
          [(ngModel)]="birthday"
          name="birthday"
          required
        />
      </div>
      <div class="form-group">
        <label>Gender</label>
        <div class="gender">
          <label
            ><input
              type="radio"
              name="gender"
              [(ngModel)]="gender"
              value="Female"
              required
            />
            Female</label
          >
          <label
            ><input
              type="radio"
              name="gender"
              [(ngModel)]="gender"
              value="Male"
            />
            Male</label
          >
          <label
            ><input
              type="radio"
              name="gender"
              [(ngModel)]="gender"
              value="Other"
            />
            Other</label
          >
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="email"
          name="email"
          required
        />
      </div>
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input
          type="text"
          id="phoneNumber"
          [(ngModel)]="phoneNumber"
          name="phoneNumber"
          required
        />
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="password">Password</label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          [(ngModel)]="password"
          name="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          type="button"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
      <div class="form-group">
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          [type]="hideConfirmPassword ? 'password' : 'text'"
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hideConfirmPassword = !hideConfirmPassword"
          type="button"
        >
          <mat-icon>{{
            hideConfirmPassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </div>
    </div>
    <button type="submit" class="submit-btn">Register</button>
  </form>
</div>
