/* You can add global styles to this file, and also import other style files */
body {
  background: linear-gradient(to right, rgb(233 30 99 / 68%), #673ab736);
    font-family: Arial, sans-serif;
  }
  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
